<div class="relative flex flex-col h-full">
  <ngx-spinner
    [fullScreen]="false"
    bdColor="#0E0F0E"
    size="medium"
    name="modal-table"
    color="#7084E3"
  ></ngx-spinner>

  <div class="h-full" [class.overflow-auto]="dataSource.filteredData.length">
    <table
      [@scaleFadeIn]="dataSource.filteredData"
      [dataSource]="dataSource"
      class="w-full"
      mat-table
      matSort
      matSorDisableClear
      [matSortActive]="sortBy"
      [matSortDirection]="sortDir"
    >
      <ng-container *ngFor="let column of columns">
        <ng-container
          *ngIf="column.type === 'text'"
          [matColumnDef]="column.property"
          [sticky]="column.sticky"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="column.sortProperty"
            [disabled]="!column.sort"
            [ngClass]="column.cssLabel"
          >
            {{ column.label }}
          </th>

          <td mat-cell *matCellDef="let row">
            <div>
              <div *ngIf="!row[column.subProperty]">
                <p [ngClass]="column.cssProperty">
                  {{ row[column.property] | titlecase }}
                </p>
              </div>
              <div *ngIf="row[column.subProperty]">
                <p [ngClass]="column.cssProperty">
                  {{ row[column.property] | titlecase }}
                </p>
                <p [ngClass]="column.cssSubProperty">
                  {{ row[column.subProperty] | titlecase }}
                </p>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container
          *ngIf="column.type === 'textUppercase'"
          [matColumnDef]="column.property"
          [sticky]="column.sticky"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="column.sortProperty"
            [disabled]="!column.sort"
            [ngClass]="column.cssLabel"
          >
            {{ column.label }}
          </th>

          <td mat-cell *matCellDef="let row">
            <div>
              <div *ngIf="!row[column.subProperty]">
                <p [ngClass]="column.cssProperty">
                  {{ row[column.property] | uppercase }}
                </p>
              </div>
              <div *ngIf="row[column.subProperty]">
                <p [ngClass]="column.cssProperty">
                  {{ row[column.property] | uppercase }}
                </p>
                <p [ngClass]="column.cssSubProperty">
                  {{ row[column.subProperty] | uppercase }}
                </p>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container
          *ngIf="column.type === 'image'"
          [matColumnDef]="column.property"
          [sticky]="column.sticky"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="column.sortProperty"
            [disabled]="!column.sort"
            [ngClass]="column.cssLabel"
          >
            {{ column.label }}
          </th>

          <td mat-cell *matCellDef="let row">
            <img
              class="my-2 align-middle avatar h-9 w-9"
              [src]="row[column.property]"
            />
          </td>
        </ng-container>

        <ng-container
          *ngIf="column.type === 'currency'"
          [matColumnDef]="column.property"
          [sticky]="column.sticky"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="column.sortProperty"
            [disabled]="!column.sort"
            [ngClass]="column.cssLabel"
          >
            {{ column.label }}
          </th>

          <td mat-cell *matCellDef="let row" [ngClass]="column.cssProperty">
            {{
              row[column.property]
                | currency : "COP" : "symbol-narrow" : "1.2-2"
            }}
          </td>
        </ng-container>

        <ng-container
          *ngIf="column.type === 'number'"
          [matColumnDef]="column.property"
          [sticky]="column.sticky"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="column.sortProperty"
            [disabled]="!column.sort"
            [ngClass]="column.cssLabel"
          >
            {{ column.label }}
          </th>

          <td mat-cell *matCellDef="let row" [ngClass]="column.cssProperty">
            {{ row[column.property] }}
          </td>
        </ng-container>

        <ng-container
          *ngIf="column.type === 'datetime'"
          [matColumnDef]="column.property"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="column.sortProperty"
            [disabled]="!column.sort"
            [ngClass]="column.cssLabel"
          >
            {{ column.label }}
          </th>

          <td mat-cell *matCellDef="let row" [ngClass]="column.cssProperty">
            {{ row[column.property] | date : "dd-MM-yyyy a" }}
          </td>
        </ng-container>

        <ng-container
          *ngIf="column.type === 'badge'"
          [matColumnDef]="column.property"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="column.sortProperty"
            [disabled]="!column.sort"
            [ngClass]="column.cssLabel"
          >
            {{ column.label }}
          </th>

          <td mat-cell *matCellDef="let row" [ngClass]="column.cssProperty">
            <ng-container>
              <div
                class="inline-block px-2 py-1 text-xs font-medium rounded"
                [ngClass]="row['badgeColor']"
              >
                {{ row[column.property] | uppercase }}
              </div>
            </ng-container>
          </td>
        </ng-container>

        <ng-container
          *ngIf="column.type === 'icon'"
          [matColumnDef]="column.property"
        >
          <th mat-header-cell *matHeaderCellDef [ngClass]="column.cssLabel">
            {{ column.label }}
          </th>

          <td mat-cell *matCellDef="let row" [ngClass]="column.cssProperty">
            <div
              *ngIf="row[column.property].icon"
              [ngClass]="row[column.property].css"
              [class]="column.action ? 'cursor-pointer' : ''"
              (click)="
                column.action
                  ? rowClick.emit({
                      action: column.action,
                      row: row
                    })
                  : ''
              "
            >
              <mat-icon
                matTooltipPosition="above"
                [matTooltip]="row[column.property].tooltip"
                [icIcon]="row[column.property].icon"
              ></mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container
          *ngIf="column.type === 'quantityPurchase'"
          [matColumnDef]="column.property"
          [sticky]="column.sticky"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="column.sortProperty"
            [disabled]="!column.sort"
            [ngClass]="column.cssLabel"
          >
            {{ column.label }}
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="flex items-center gap-2">
              <button
                type="button"
                mat-icon-button
                color="primary"
                (click)="substractQuantityPurcharse(row)"
                class="small-button"
              >
                <mat-icon
                  [icIcon]="icMin"
                  class="flex justify-center items-center p-1.5 rounded-full text-am-main-blue-dark bg-green-light border-am-main-blue-dark"
                ></mat-icon>
              </button>
              <label class="text-md" [ngClass]="column.cssProperty">
                {{ row[column.property] }}
              </label>
              <button
                type="button"
                mat-icon-button
                color="primary"
                (click)="increaseQuantityPurcharse(row)"
                class="small-button"
              >
                <mat-icon
                  [icIcon]="icAdd"
                  class="flex justify-center items-center p-1.5 rounded-full text-am-main-blue-dark bg-green-light border-am-main-blue-dark"
                ></mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container
          *ngIf="column.type === 'quantitySale'"
          [matColumnDef]="column.property"
          [sticky]="column.sticky"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="column.sortProperty"
            [disabled]="!column.sort"
            [ngClass]="column.cssLabel"
          >
            {{ column.label }}
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="flex items-center gap-2">
              <button
                type="button"
                mat-icon-button
                color="primary"
                (click)="decrementQuantitySale(row)"
                class="small-button"
              >
                <mat-icon
                  [icIcon]="icMin"
                  class="flex justify-center items-center p-1.5 rounded-full text-am-main-blue-dark bg-green-light border-am-main-blue-dark"
                ></mat-icon>
              </button>
              <label class="text-md" [ngClass]="column.cssProperty">
                {{ row[column.property] }}
              </label>
              <button
                type="button"
                mat-icon-button
                color="primary"
                (click)="increaseQuantitySale(row)"
                class="small-button"
              >
                <mat-icon
                  [icIcon]="icAdd"
                  class="flex justify-center items-center p-1.5 rounded-full text-am-main-blue-dark bg-green-light border-am-main-blue-dark"
                ></mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container
          *ngIf="column.type === 'unitPurchasePrice'"
          [matColumnDef]="column.property"
          [sticky]="column.sticky"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="column.sortProperty"
            [disabled]="!column.sort"
            [ngClass]="column.cssLabel"
          >
            {{ column.label }}
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="flex items-center">
              <mat-form-field appearance="outline" class="w-20 mt-4 text-sm">
                <input
                  matInput
                  [(ngModel)]="row[column.property]"
                  min="0"
                  type="number"
                  placeholder="0.00"
                  class="mat-input-element"
                  [ngClass]="column.cssProperty"
                  (ngModelChange)="calculateTotalAmountPurcharse(row)"
                />
              </mat-form-field>
            </div>
          </td>
        </ng-container>

        <ng-container
          *ngIf="column.type === 'totalAmount'"
          [matColumnDef]="column.property"
          [sticky]="column.sticky"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="column.sortProperty"
            [disabled]="!column.sort"
            [ngClass]="column.cssLabel"
          >
            {{ column.label }}
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="text-md" [ngClass]="column.cssProperty">
              {{
                row[column.property]
                  | currency : "COP" : "symbol-narrow" : "1.2-2"
              }}
            </div>
          </td>
        </ng-container>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="visibleColumns; sticky: true"
        class="h-18"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; let i = index; columns: visibleColumns"
        @fadeInUp
        class="h-16"
      ></tr>
    </table>
    <div
      *ngIf="dataSource.filteredData.length === 0"
      class="flex flex-col items-center justify-center h-full"
    >
      <img
        @scaleFadeIn
        class="h-64 m-12"
        src="../../../../assets/img/illustrations/idea.svg"
      />
      <h2 class="m-0 text-center headline">Data not found</h2>
    </div>
  </div>
  <div
    class="flex items-center justify-between h-24 gap-4 mx-10 my-2 flex-grap"
  >
    <div class="flex gap-3" *ngIf="dataSource.filteredData.length !== 0">
      <ng-container> </ng-container>
    </div>
    <mat-paginator
      [class.hidden]="!dataSource.filteredData.length"
      [pageSizeOptions]="paginatorOptions.pageSizeOptions"
      [pageSize]="paginatorOptions.pageSize"
      [length]="paginatorOptions.pageLength"
      [showFirstLastButtons]="true"
    ></mat-paginator>
  </div>
</div>
