<div class="w-full h-full flex flex-col">
  <div class="px-gutter pt-6 pb-20 bg-green flex-none">
    <div class="flex items-center justify-between">
      <h2
        class="headline text-primary-contrast m-0 flex items-center w-full max-w-xxxl mr-6"
      >
        <ic-icon @scaleIn [icIcon]="icSale"></ic-icon>
        <span @fadeInRight class="ml-4 block">New Sale</span>
      </h2>
      <button mat-button (click)="backRoute()" class="text-am-base-background">
        Back
      </button>
    </div>
  </div>
  <div class="-mt-14 p-6 pt-0 overflow-hidden flex flex-col md:flex-row gap-2">
    <form class="w-full md:w-6/12" [formGroup]="form">
      <div class="bg-white rounded-lg p-4 shadow">
        <div class="flex items-center">
          <div
            @fadeInRight
            class="text-lg font-medium text-am-main-blue-dark ml-2"
          >
            New sale
          </div>
        </div>
        <br />
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
          <app-select-autocomplete
            label="Voucher Document Type"
            [control]="form.get('voucherDocumentTypeId')"
            [required]="true"
            [listOptions]="voucherDocumentTypes"
            [readonly]="isViewDetail"
          ></app-select-autocomplete>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Document number</mat-label>
            <input
              matInput
              formControlName="voucherNumber"
              [readonly]="isViewDetail"
            />
            <mat-error *ngIf="form.get('voucherNumber').hasError('required')">
              is requerid.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
          <app-select-autocomplete
            label="Customers"
            [control]="form.get('customerId')"
            [required]="true"
            [listOptions]="customers"
            [readonly]="isViewDetail"
          ></app-select-autocomplete>

          <app-select-autocomplete
            label="Warehouses"
            [control]="form.get('warehouseId')"
            [required]="true"
            [listOptions]="warehouses"
            [readonly]="isViewDetail"
            (itemSelected)="onItemSelected($event)"
          ></app-select-autocomplete>
        </div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Observation</mat-label>
          <textarea
            matInput
            placeholder="Enter observation..."
            formControlName="observation"
            [readonly]="isViewDetail"
          ></textarea>
        </mat-form-field>

        <div class="flex justify-between" *ngIf="!isViewDetail">
          <div
            @fadeInRight
            class="text-lg font-medium text-am-main-blue-dark ml-2"
          >
            Products
          </div>
          <app-search-box-multiple
            [searchOptions]="saleDetailComponentConfig.productSearchOptions"
            (search)="search($event)"
            [currentValue]="saleDetailComponentConfig.filters.textFilter"
          >
          </app-search-box-multiple>
        </div>
        <br />
        <div
          class="card h-full overflow-hidden flex-auto"
          *ngIf="!isViewDetail"
        >
          <app-list-table
            class="w-full border rounded-lg"
            (rowClick)="rowClick($event)"
            [service]="_saleDetailService"
            [columns]="saleDetailComponentConfig.productTableColumns"
            [numRecords]="numRecordsProducts"
            [sortBy]="saleDetailComponentConfig.initialSort"
            [sortDir]="saleDetailComponentConfig.initialSortDir"
            [getInputs]="saleDetailComponentConfig.getInputs"
          ></app-list-table>
        </div>
      </div>
    </form>

    <div class="w-full md:w-6/12">
      <div class="bg-white rounded-lg p-4 shadow">
        <div class="flex items-center">
          <div
            @fadeInRight
            class="text-lg font-medium text-am-main-blue-dark ml-2"
          >
            Sale Order
          </div>
        </div>
        <br />
        <div class="w-full overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 bg-green rounded-l-lg text-left text-xss leading-4 font-bold text-am-main-blue-dark tracking-wider"
                ></th>
                <th
                  class="px-6 py-3 bg-green text-left text-xss leading-4 font-bold text-am-main-blue-dark tracking-wider"
                >
                  Code
                </th>
                <th
                  class="px-6 py-3 bg-green text-left text-xss leading-4 font-bold text-am-main-blue-dark tracking-wider"
                >
                  Name
                </th>
                <th
                  class="px-6 py-3 bg-green text-left text-xss leading-4 font-bold text-am-main-blue-dark tracking-wider"
                >
                  Quantity
                </th>
                <th
                  class="px-6 py-3 bg-green text-left text-xss leading-4 font-bold text-am-main-blue-dark tracking-wider"
                >
                  Unit price
                </th>
                <th
                  class="px-6 py-3 bg-green text-left text-xss leading-4 font-bold text-am-main-blue-dark tracking-wider"
                >
                  Total
                </th>
                <th class="px-6 py-3 bg-green rounded-r-lg"></th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr *ngFor="let product of saleDetail">
                <td class="px-6 py-4">
                  <img
                    [src]="product.image"
                    alt="{{ product.name }}"
                    class="avatar h-15 w-15 my-2"
                  />
                </td>
                <td class="px-6 py-4 font-semibold text-xs text-left">
                  {{ product.code }}
                </td>
                <td class="px-6 py-4 font-semibold text-xs text-left">
                  {{ product.name }}
                </td>
                <td class="px-6 py-4 font-semibold text-xs text-left">
                  {{ product.quantity }}
                </td>
                <td class="px-6 py-4 font-semibold text-xs text-left">
                  {{ product.unitSalePrice | currency : "" : "" }}
                </td>
                <td class="px-6 py-4 font-semibold text-xs text-left">
                  {{ product.totalAmount | currency : "" : "" }}
                </td>
                <td class="px-6 py-4" *ngIf="!isViewDetail">
                  <div
                    class="flex justify-center items-center cursor-pointer p-1.5 w-fit rounded-full text-am-new-red-dark bg-am-new-red-light border-am-new-red-dark mb-1"
                  >
                    <mat-icon
                      [icIcon]="icRemove"
                      matTooltip="Delete product from detail"
                      (click)="deleteSaleDetail(product)"
                    ></mat-icon>
                  </div>
                </td>
              </tr>
            </tbody>
            <br />
            <br />
            <!-- <tfoot>
              <tr class="justify-items-end">
                <td colspan="5"></td>
                <td class="font-semibold px-6 py-3 text-right">Subtotal:</td>
                <td class="font-semibold px-6 py-3">
                  {{ "COP " + (subtotal | currency) }}
                </td>
              </tr>
              <tr>
                <td colspan="5"></td>
                <td class="font-semibold px-6 py-3 text-right">Tax:</td>
                <td class="font-semibold px-6 py-3">
                  {{ "COP " + (tax | currency) }}
                  <span class="tax-percentage">
                    ({{ taxRate * 100 | number : "1.0-0" }}%)
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="5"></td>
                <td class="font-semibold px-6 py-3 text-right">Total:</td>
                <td class="font-semibold px-6 py-3">
                  {{ "COP " + (total | currency) }}
                </td>
              </tr>
            </tfoot> -->
          </table>
          <div class="summary-section">
            <div class="summary-row">
              <span class="summary-label">Subtotal:</span>
              <span class="summary-value"
                >COP
                {{
                  subtotal | currency : "COP" : "symbol-narrow" : "1.2-2"
                }}</span
              >
            </div>

            <div class="summary-row">
              <span class="summary-label">Tax:</span>
              <div class="summary-value">
                <span
                  >COP
                  {{ tax | currency : "COP" : "symbol-narrow" : "1.2-2" }}</span
                >
                <span class="tax-percentage">
                  ({{ taxRate * 100 | number : "1.0-0" }}%)
                </span>
              </div>
            </div>

            <div class="summary-row total-row">
              <span class="summary-label">Total:</span>
              <span class="summary-value"
                >COP
                {{ total | currency : "COP" : "symbol-narrow" : "1.2-2" }}</span
              >
            </div>
          </div>
          <hr />
          <br />
          <div class="flex justify-end">
            <button
              class="bg-black"
              style="color: aliceblue"
              mat-button
              [disabled]="form.invalid || saleDetail.length == 0"
              (click)="createSale()"
              *ngIf="!isViewDetail"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
